body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100vh; 
}

hr {
    top: 6.7vh;
    z-index: 10;
}


p {
    color: white;
    margin: 0.8em 1em 0.2em 1em;
    font-size: 7vh;
}

.tbox {
    font-size: 2vh;
    padding: 0.9em 2em 0.9em 2em;
    width: 65%;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2em;
    border: 2px solid blue;
}

.tbox.fade-in {
    opacity: 0;
}

.button {
    padding: 0.8em 2em;
    font-size: 2vh;
    border: 2px solid black;
    border-radius: 2em;
    background-color: blueviolet;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: mediumblue;
    transition-duration: 0.75s;
}

input:focus {
    outline: none;
}

.tbox:hover {
    width: 67%;
}

#chooser {
    font-size: 1em;
    position: absolute;
    right: 5em;
    margin: 0;
    text-align: right;
}

#chooser:hover {
    color: blue;
    transition-duration: 0.5s;
}

#error {
    color: red;
    font-size: 1em;
    text-align: left;
    position: absolute;
    display: none;
    left: 7em;
    margin: 0;
}

.bg_image {
    background-image: url("../assets/images/login_bg.png");
    width: 100vw;
    height: 90vh;
    margin-top: 7.9vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1vh);
    -webkit-filter: blur(1vh);
}

.card {
    width: 50%;
    min-height: 56vh;
    height: auto;
    background-color: black;
    border: 5px solid blueviolet;
    border-radius: 2vw;
    text-align: center;
    margin: auto;
    z-index: 10;
    box-shadow: 2vw 2vw 2vw rgba(0, 0, 10, 0.9);
    transition: box-shadow 0.5s ease, transform 1s ease, height 0.5s ease;
    position: relative;
}

.card:hover{
    box-shadow: 2.7vw 2.7vw 2vw rgba(0, 0, 20, 0.9);
    transform: scale(1.01);
    transition-duration: 1s;
}

#submit {
    margin-bottom: 2em;
    margin-top: 5em;
    transition: 0.5s ease;
}

#email {
    transition: 1s ease;
}

#pass2 {
    transition: 1s ease;
}